@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(10, 10, 10);
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Initially hide child and grandchild menus */
.child-menu,
.grandchild-menu {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, pointer-events 0.5s ease;
}

/* Show child menu when hovering over the parent category */
.parent:hover .child-menu {
  opacity: 1;
  pointer-events: auto;
}

/* Show grandchild menu when hovering over a child category */
.child:hover .grandchild-menu {
  opacity: 1;
  pointer-events: auto;
}

/* hide category scrollbar  */
/* Add this in your global CSS or Tailwind CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.container-custom {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-custom {
    width: 960px;
  }
  
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}


@media (min-width: 1400px) {
  .container-custom {
    width:1320px;
}}
@media (min-width: 1600px) {
  .container-custom {
    width:1550px;
}}


   /* custom scrollbar   */
   .scrollbar_thin::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .scrollbar_thin::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
    
  /* Handle */
  .scrollbar_thin::-webkit-scrollbar-thumb {
    background: #6395a7;  
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scrollbar_thin::-webkit-scrollbar-thumb:hover {
    background: rgb(202, 202, 246); 
  }